{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Reset -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    
    <title>サンプルアプリ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

</head>

<body style="background-color:#c2e2d2;color:#c9c2e0;">


{% block content %}
{% endblock %}


</body>

</html>