{% extends "./_base.html" %}
{% block content %}


{% comment ’以下の行をコメントアウト’ %}
<h1>{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>
%>
{% endcomment %}

    {% load static %}
    <div class=content>
        
        <h1>{{ question.question_text }}</h1>
        {% for choice in question.choice_set.all %}
            {% if choice.result %}
            <a href="{% url 'polls:results' choice.result.id %}"><div class=button>{{ choice.choice_text }}</div></a><br/>
            {% elif choice.next_questions.first %}
            <a href="{% url 'polls:detail' choice.next_questions.first.id %}"><div class=button>{{ choice.choice_text }}</div></a><br/>
            {% else %}
            <div class=button>{{ choice.choice_text }}</div><br/>
            {% endif %}
        {% endfor %}
                
                
                
    {% comment ’以下の行をコメントアウト’ %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{ question.question_text }}</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Vote">
        </form>
    {% endcomment %}
    </div>

{% endblock %}